<div class="form-horizontal col-lg-10" role="form">
    <div class="form-group">
        <label for="name" class="col-lg-4 control-label">Your name:</label>
        <div class="col-lg-6">
          <input type="text" class="form-control user_name" id="inputEmail1" name="name">
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-lg-4 control-label">Email:</label>
        <div class="col-lg-6">
          <input type="email" class="form-control user_email" id="inputEmail1" name="email" >
        </div>
    </div>
    <div class="form-group">
        <label for="about" class="col-lg-4 control-label">About:</label>
        <div class="col-lg-6">
          <textarea rows="3" class="form-control user_about" cols="45" name="about"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-lg-4 control-label">Password:</label>
        <div class="col-lg-6">
          <input type="password" class="form-control user_password" id="inputEmail1" name="password">
        </div>
    </div>
    <div class="form-group">
        <label for="about" class="col-lg-4 control-label">Password confirmation:</label>
        <div class="col-lg-6">
            <input class="form-control user_password_confirmation" type="password" name="password">
        </div>
    </div>

    <p class='pull-right col-lg-3'>
        <button id="submit" type="submit" class="btn btn-primary submit-sign_up">Submit</button>
    </p>
</div>